

<p> I know it looks terrible. სამაგიეროდ ახალ ტაბში ხსნის </p>


<a href="/projects/calculator" target="_blank">calculator</a>

<a href="/projects/colorguesser" target="_blank">colorguesse</a>
<a href="/projects/fitter" target="_blank">fitter</a>
<a href="/projects/piano" target="_blank">piano</a>
<a href="/projects/test" target="_blank">test</a>